.cardContainer
    flex: 0 1 auto
    width: 100%
    @media (min-width: 992px)
        width: calc(33% - 12px)

.imgContainer
    width: 100%
    height: 300px
    border-radius: 10px
    overflow: hidden
    transition: transform 0.2s ease-in-out
    cursor: pointer
    &:hover
        transform: scale(1.05)
    img
        width: 100%
        height: 100%
        object-fit: cover

.avatarContainer
    width: 40px
    height: 40px
    border-radius: 50%
    overflow: hidden
    img
        width: 100%
        height: 100%
        object-fit: cover

.like
    margin-top: 8px
    svg
        transition: transform 0.2s ease-in-out
        cursor: pointer
        &:hover
            transform: scale(1.2)

.category
    color: var(--orange)
    font-weight: 500

.title
    transition: transform 0.2s ease-in-out
    cursor: pointer
    &:hover
        transform: scale(1.05)
